/* CONFIGS*/
:root {
    ---font-nunito:'Nunito', sans-serif;
    ---Background-principal: #E5E5E5;
    ---Background-secundário: #F5F3F0;
    ---Branco: #FFFFFF;
    ---Marrom: #502314;
    ---Vermelho: #DB3B1D;
    ---Laranja: #FF8627;
    ---Cinza-escuro: #2D2D2D;
    ---Preto: #000000;
    ---Borda-do-card: #F5EBDC;
}

body {
    background-color: var(---Background-principal);
    font-family: var(---font-nunito);
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 30px;
}

/* APLICANDO ESTILO NO CABEÇALHO */
.cabecalho .container {
    max-width: 1330px;
    display: flex;
    justify-content: space-between;
}

/* APLICANDO ESTILO NA IMAGEM DO BANNER */
.banner img {
    width: 100%;
}

/* APLICANDO ESTILO NA SEÇÃO DE PRODUTOS */
.produtos {
    padding-top: 30px;
}

.lista__produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
}

.card__produto {
    background-color: var(---Branco);
    width: 230px;
    text-align: center;
    padding: 22px 25px;
    border: 2px solid var(---Borda-do-card);
    border-radius: 15px;
}

.card__produto img {}

.card__produto h3 {
    color: var(---Marrom);
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0;
    min-height: 40px;
}

.card__produto P {
    font-size: 0.9em;
    font-weight: 700;
    margin: 20px 0;
}

.card__produto button {
    font-family: var(---font-nunito);
    background-color: var(---Background-secundário);
    border: none;
    border-radius: 8px;
    width: 70%;
    padding: 10px 0;
    color: var(---Cinza-escuro);
    font-weight: 500;
    font-size: 0.8em;
    cursor: pointer;
}
/* RODAPÉ */
.rodape {}

.carrinho {
    background-color: var(---Branco);
}

.resumo {
    background-color: var(---Marrom);
    border-radius: 32px 32px 0 0;
}

.carrinho .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalhes__pedido h4 {
    font-weight: 500;
    font-size: 1.5em;
    color: var(---Background-secundário);
    margin-bottom: 15px;
}

.detalhes__pedido p {
    color: #bfbfba;
    font-weight: 200;
    font-size: 0.9em;
}

.resumo .price p {
    font-size: 1.3em;
    color: var(---Background-secundário);
    font-weight: 300;
}

.resumo__pedido {
    width: 80%;
}

.lista__pedido {}

.pedido__item {
    background-color: var(---Background-secundário);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box__infor {
    display: flex;
    align-items: center;
}
.box__infor img {
    width: 130px;
    margin-right: 20px;
}
.box__infor p {
    color: var(---Marrom);
    font-weight: 700;
    font-size: 1.2em;
}

.infor__price {
    display: flex;
    align-items: center;
}

.infor__price p {
    font-weight: 200;
    font-size: 0.9em;
    margin-right: 20px;
}

.infor__price button {
    background-color: #E6E6E6;
    border: none;
    border-radius: 4px;
    width: 60px;
    height: 50px;
}

.btn__pedidos {
    width: 20%;
    text-align: center;
}

.btn__pedidos button {
    font-family: var(---font-nunito);
    background-color: var(---Vermelho);
    border: none;
    color: var(---Background-secundário);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}
.btn__pedidos button ~ button {
    background-color: var(---Branco);
    color: var(---Vermelho);
    border: 2px solid var(---Vermelho);
}

